*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Nova Oval', sans-serif;
    font-weight: bold;
}
.cabecalho{
    background-color: #5a5980;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 30%;
}

.cabecalho-item{
    display: inline-block;
    margin-top: 16px;
    margin-right: 16px;
    font-size: 30px;
    text-decoration: none;
}

section{
    font-size: 20px;
    padding: 150px 0;
    background-color: #cedbee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galinha-imagem{
    width: 40%;
    position: absolute;
    padding-right: 600px;
}

.texto{
    width: 40%;
    position: absolute;
    padding-left: 700px;
}

.meio{
    padding: 250px;
}

.rodape{
    background-color: rgb(61, 61, 61);
    text-align: center;
}
