*{
    margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: #363557;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 30%;
}

.cabecalho-item{
    display: inline-block;
    margin-top: 16px;
    margin-right: 16px;
    font-size: 30px;
}

section{
    font-size: 20px;
    padding: 150px 0;
    background-color: #cedbee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galinha-imagem{
    width: 40%;
}

.texto{
    width: 40%;
}
